<%- include('partials/head') %>

    <%- include('partials/navbar') %>
    <h1>Home Page <%= 'Hello world'.toUpperCase() %> </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nobis consequatur qui tempore et aut fuga nemo ducimus! 
        Earum animi reprehenderit dolores dolorem, temporibus commodi aliquam sint impedit cum labore.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias explicabo a beatae quas rem consectetur 
        asperiores repellat optio? Reprehenderit tempora eos repudiandae iste suscipit possimus accusantium, eaque veritatis consequatur porro.</p>
<%- include('partials/footer')%>